@{
    ViewData["Title"] = "My Podcasts";
}

<div class="text-center">
    <h1 class="display-4">My Podcasts</h1>
    <br />
    <p>Click <a href="https://baconsale.com/">here</a> to check out my weekly movie podcasts!</p>
</div>
